server {
	listen 443 ssl;
	listen [::]:443 ssl;
	listen 443 quic;
	listen [::]:443 quic;
	server_name ;
	ssl_certificate /etc/ssl/certs//fullchain.pem;
	ssl_certificate_key /etc/ssl/certs//privkey.pem;
	ssl_trusted_certificate /etc/ssl/certs//fullchain.pem;

	
	location ~ /\.ht {
		deny all;
	}
}
